@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Comfortaa&display=swap');

html{
    font-family: 'Comfortaa', cursive;
    color: white;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(135,206,250,1) 40%);
}

h1,h2,h3{
    font-family: 'Amatic SC', cursive;
    color: white;
}

body{
    margin: 0px;
    padding: 0px;
}

header,footer{
    background: rgba(135,206,250, 0.73);
    display: flex;
    justify-content: space-between;
}



header ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-right: 3%;
}

header ul li{
    padding: 5px;
}

header ul a{
    color: white;
    text-decoration:none;
}

.img-banner{
    position: absolute;
    z-index: -1;
    width: 100%;
    filter: brightness(40%);
    -webkit-mask-image:-webkit-gradient(linear, left center, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.header-logo{
    margin-left: 3%;
    width: 10%;

}

.main-section{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 10%;
}

.main-heading{
    font-size: 4em;
    margin-bottom: 15px;
}

.main-articles{
    display: flex;
    justify-content: center;
}

.main-articles article{
    display: inline-block;
}

.first-article, .second-article{
    width: 30%;
}

.white-line-div{
    flex-shrink: 5;
    width: 0%;
    margin-left: 2%;
    margin-right: 2%;
    border-left: solid 2px white;
}

.first-article-photos-container{
    margin-top: 2%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    
}

.article-photo{
    width: 40%;
    box-shadow: 0px 0px 22px 5px #000000;
}

.about-us-section{
    color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    width: 70%;
    margin: 0px auto;
    margin-bottom: 5%;
}

.about-us-heading{
    color: #000000;
    font-size: 2em;
}

.resources-links-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.resources-article{
    display: flex;
    justify-content: center;
}

.resource-div{
    width: 35%;
    border: 5px solid rgb(135,206,250);
    background-color: rgb(135,206,250);;
    border-radius: 6px;
    box-shadow: 0px 0px 15px 1px #000000;
    color: white;
    margin: 2%;
    
}

.resource-img{
    width: 100%;
    height: 75%;
}


.resources-heading{
    color: #000000;
    width: 100%;
    text-align: center;
    font-size: 2em;
}

.resources-p{
    text-align: center;
    margin: 2%;
}

.contact-us-section{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
}

input, textarea { 
    outline: none;
}

form {
    position: relative;
    width: 80%;
    border-radius: 30px;
    background: #fff;
    }
    .form-left-decoration,
    .form-right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    background: #5a7233;
    }
    .form-left-decoration {
    bottom: 60px;
    left: -30px;
    }
    .form-right-decoration {
    top: 60px;
    right: -30px;
    }
    .form-left-decoration:before,
    .form-left-decoration:after,
    .form-right-decoration:before,
    .form-right-decoration:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: #fff;
    }
    .form-left-decoration:before {
    top: -20px;
    }
    .form-left-decoration:after {
    top: 20px;
    left: 10px;
    }
    .form-right-decoration:before {
    top: -20px;
    right: 0;
    }
    .form-right-decoration:after {
    top: 20px;
    right: 10px;
    }
    .circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    }
    .form-inner {
    padding: 40px;
    }
    .form-inner input,
    .form-inner textarea {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    background: #d0dfe8;
    }
    .form-inner textarea {
    resize: none;
    }
    button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    border-bottom: 4px solid rgb(135,206,250);
    background: #0684cc; 
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    }
    button:hover {
    background: #72cbff;
    } 
    @media (min-width: 568px) {
    form {
    width: 60%;
    }
}

.form-inner h1{
    color: #000000;
    font-size: 2em;
}

footer ul a i{
    width: 24px;
    height: 28px;
    color: white;
}

footer{
    justify-content: center;
}

